{% comment %} templates/registration/password_reset_email.html {% endcomment %}
{% load i18n %}

{% blocktrans %}Witaj,{% endblocktrans %}

{% blocktrans with email=email %}Otrzymaliśmy prośbę o zresetowanie hasła dla Twojego konta powiązanego z adresem e-mail {{ email }}.{% endblocktrans %}
{% blocktrans %}Proszę kliknąć w poniższy link, aby ustawić nowe hasło:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Jeśli nie prosiłeś o zresetowanie hasła, zignoruj tę wiadomość.{% endblocktrans %}

{% blocktrans with username=user.get_username %}Twoja nazwa użytkownika (na wszelki wypadek): {{ username }}{% endblocktrans %}

{% blocktrans %}Dziękujemy,{% endblocktrans %}
{% blocktrans %}Zespół EcoMarket{% endblocktrans %}