{% extends "base.html" %}
{% load static %}

{% block title %}Opłata przeszła domyślnie{% endblock %}

{% block content %}
    <h2>Dziękujemy za zakupy!</h2>
    <p>Opłata przeszła domyślnie</p>
    <p>Potwierdzenie zamówienia i jego szczególy nie za długo pojawią się na towim koncie oraz będą wysłane mailem.</p>

    <p><a href="{% url 'store:product_list' %}">Do sklepu</a></p>
    {% if user.is_authenticated %}
     <p><a href="{% url 'store:order_history' %}">Historia zamówień</a></p>
    {% endif %}
{% endblock %}